{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Lost/Found Item</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.item_type.label }}<br>
            {{ form.item_type() }}<br>
            {% for error in form.item_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=60) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=80, rows=6) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=60) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contact_info.label }}<br>
            {{ form.contact_info(size=60) }}<br>
            {% for error in form.contact_info.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {% if item.image_filename %}
                <img src="{{ url_for('uploaded_file', filename=item.image_filename) }}" alt="Current Image" width="100"><br>
                <input type="checkbox" name="clear_image" value="1"> Clear current image
            {% endif %}
            {{ form.image() }}<br>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}